<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Django and Vue</title>
  <link rel="stylesheet" href="https://unpkg.com/vue-select/dist/vue-select.css">
</head>

<body>

  <h1>Django and Vue</h1>

  {% if flights %}

  <div id="app">

    <v-select v-model="flight" :options="flights" :filter-by="filter" label="id"
      placeholder="Enter flight id or airport name">

      <template slot="option" slot-scope="option">
        <b>[[ option.id ]]</b>
        [[ option.airport ]]
      </template>

    </v-select>

    <br>

    Selected Flight: [[ flight && flight.id ]]

  </div>

  {% else %}

  <p>No flights available</p>

  {% endif %}

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-select@3.0.2/dist/vue-select.min.js"></script>

  <script>
    // Get data from Django controller
    const flights = {{ flights_json | safe }};

    // 3rd party vue-select component
    Vue.component('v-select', VueSelect.VueSelect);

    // Vue component
    const app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
        flights,
        filter: (option, label, search) => {
          let temp = search.toLowerCase();
          return option.airport.toLowerCase().indexOf(temp) > -1 ||
            option.id.toLowerCase().indexOf(temp) > -1
        },
        flight: null
      }
    });

  </script>

</body>

</html>